html {
	font-family: Helvetica;

}

body {
	margin-top: 5%;
}

img {
	margin-bottom: 20px;
}

#question {
	font-weight: 900;
	font-style: 
    position: relative;
}

#button {
	background-color: rgb(55,225,175);
	font-size: 15px;
	font-weight: 700;
	border:0px;
	height:35px;
	width:75px;
	margin-left:20px;
	margin-top: 20px;
}

input {
	height:30px;
	width:200px;
	font-size: 15px;
}